* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(1 161 75);
}

.header {
    width: 100%;
    height: 120px;
    /* background-color: rgb(1 161 75); */
    background-color: rgb(215, 229, 230);
    border-bottom: 2px solid rgb(1 161 75);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}