*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 236, 236);
}
.order_management_main{
    padding-left: 50px;
    width: 70%;
}

.order_management_content{
    display: flex;
    flex-wrap: wrap;
}
table{
    width: 1000px;
    border-spacing: 0;
    font-size:14px ;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
 
  
}
table tr{
    height: 70px;
    background-color:white;
    
}
table td{
    padding: 25px;

}
.title_order td{
    font-weight: bold;
    border-bottom: 1px solid black;
}
.title_order{
    height: 50px;
}
table a{
    display: block;
    text-decoration: none;
    color: #131313;   
    font-weight: bold;
}
button{
    background-color:rgb(1 161 75) ;
    padding: 7px;
    cursor: pointer;
}
.order_management_content #input_search{
    width: 300px;
    height: 30px;
    margin-right: 20px;
}
.label_search{
    margin-right: 30px;
}
.title_order1{
    width: 150px;
}
.title_order2{
    width: 160px;
}
.title_order3{
    width: 120px;
}
.title_order4{
    width: 200px;
}
.title_order5{
    width: 140px;
}